
.container {
}

.title {
}

.title span {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    line-height: 58px;

    color: #E4E5EA;
}

.subTitle {
    margin-bottom: 30px;
}

.subTitle span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;

    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text {
    width: 275px;
}

.text span {
    font-size: 18px;
    line-height: 22px;

    color: #E4E5EA;
}


@media only screen and (max-width: 807px) {
    .title span {
        font-size: 32px;
        line-height: 46px;
    }
}

@media only screen and (max-width: 748px) {

    .container {
        text-align: center;
    }

    .title span {
        font-size: 50px;
        line-height: 70px;
        font-weight: 800;
    }

    .subTitle span {
        font-weight: 900;
        font-size: 80px;
        line-height: 90px;
    }

    .text {
        width: 100%;
        margin-bottom: 50px;
    }

    .text span {
        font-size: 24px;
        line-height: 18px;
    }

}

@media only screen and (max-width: 425px) {


    .container {
        text-align: left;
    }

    .title span {
        font-weight: 400;
        font-size: 46px;
        line-height: 44px;
    }

    .subTitle {
        margin-bottom: 15px;
    }

    .subTitle span {
        font-weight: 900;
        font-size: 46px;
        line-height: 54px;
    }

    .text {
        margin-bottom: 45px;
    }

    .text span {
        font-size: 20px;
        line-height: 22px;
    }

}

@media only screen and (max-width: 320px) {

    .title span {
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
    }

    .subTitle span {
        font-weight: 900;
        font-size: 36px;
        line-height: 44px;
    }

    .text span {
        font-size: 18px;
        line-height: 22px;
    }

}