
.labelIcons {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

.labelIconsIcon {

}

.labelIconsName {

}

@media only screen and (max-width: 1370px) {


}

@media only screen and (max-width: 1209px) {
    .labelIcons {
        margin-bottom: 5px;
    }
}