@import "AppResetStyles.css";

.app {
    position: relative;
    width: 99.07vw;
    height: 100%;
    margin: 0 auto;
    padding: 60px 150px;
    background: #0E1014;
    display: flex;
    flex-direction: column;
}


.app:before {
    content: '';
    position: absolute;
    width: 311px;
    height: 311px;
    left: -102px;
    top: 251px;

    background: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
}

.app:after {
    content: '';
    position: absolute;
    width: 259px;
    height: 259px;
    left: 602px;
    top: -154px;

    background: #833AB4;
    opacity: 0.5;
    filter: blur(196px);
}

@media only screen and (max-width: 1370px) {
    .app {
        padding: 60px 70px;
    }

}

@media only screen and (max-width: 940px) {
    .app:after {
        left: 200px;
        top: -154px;
    }
}

@media only screen and (max-width: 807px) {
    .app {
        padding: 40px 40px;
    }

}

@media only screen and (max-width: 425px) {

    .app {
        padding: 0 0 40px 0;
    }

    .app:before {
        left: -102px;
        top: 2px;
        background: #ffffff;
        opacity: 0.5;
        filter: blur(196px);
    }

    .app:after {
        left: 200px;
        top: 400px;
        background: #833AB4;
        /*opacity: 0.5;*/
        filter: blur(196px);
    }


}

@media only screen and (max-width: 320px) {


}