.wePresent {
    width: 291px;
    text-align: right;
    margin-bottom: 40px;
}

.wePresentText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;

    /* light text */

    color: #E4E5EA;
}

.wePresentTextColor {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    /* light text */
    text-transform: uppercase;

    background: linear-gradient(92deg, rgba(253, 29, 29, 1) 27.14%, rgba(252, 176, 69, 1) 121.36%), rgba(252, 176, 69, 1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

@media only screen and (max-width: 748px) {

    .wePresent {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .wePresentText {
        font-size: 24px;
    }

    .wePresentTextColor {
        font-size: 24px;
    }

}

@media only screen and (max-width: 425px) {

    .wePresent {
        text-align: left;
        margin-bottom: 40px;
    }

    .wePresentText {
        font-size: 20px;
    }

    .wePresentTextColor {
        font-size: 20px;
    }

}

@media only screen and (max-width: 320px) {

    .wePresentText {
        font-size: 18px;
    }

    .wePresentTextColor {
        font-size: 18px;
    }

}